<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="ngdenterprise-Build-public" value="https://pkgs.dev.azure.com/ngdenterprise/Build/_packaging/public/nuget/v3/index.json" />
    <add key="MyGet-neo" value="https://www.myget.org/F/neo/api/v3/index.json" />
    <add key="local" value="./deps/" />
  </packageSources>
</configuration>