<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="neo-bctk" value="https://neobctk.blob.core.windows.net/packages/index.json" />
    <add key="neo-monorepo" value=" https://neomonorepopackages.blob.core.windows.net/packages/index.json" />
  </packageSources>
</configuration>