name: On Push

on:
  push:
    branches:
      - master
      - release/*
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - 'LICENSE'
      - '**/*.md'

env:
  DOTNET_VERSION: '7.0.x'

jobs:
  pack:
    uses: ./.github/workflows/pack.yml
  test:
    uses: ./.github/workflows/test.yml
  publish:
    needs: [pack, test]
    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Download Express
      uses: actions/download-artifact@v3
      with:
        name: packages
        path: ./out

    - name: Publish to Azure Artifacts
      run: dotnet nuget push ./out/*.nupkg --source https://www.myget.org/F/neo/api/v3/index.json --api-key ${MYGET_TOKEN} 
