name: On Push

on:
  push:
    branches:
      - master
      - release/*
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - 'LICENSE'
      - '**/*.md'

env:
  DOTNET_VERSION: '7.0.x'
  AZURE_ARTIFACTS_FEED_URL: https://www.myget.org/F/neo/api/v3/index.json

jobs:
  pack:
    uses: ./.github/workflows/pack.yml
  test:
    uses: ./.github/workflows/test.yml
  publish:
    needs: [pack, test]
    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        source-url: ${{ env.AZURE_ARTIFACTS_FEED_URL }}
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.MYGET_TOKEN }}

    - name: Download Express
      uses: actions/download-artifact@v3
      with:
        name: express
        path: ./out

    - name: Download Trace
      uses: actions/download-artifact@v3
      with:
        name: trace
        path: ./out

    - name: Download WorkNet
      uses: actions/download-artifact@v3
      with:
        name: worknet
        path: ./out

    - name: Download bctklib
      uses: actions/download-artifact@v3
      with:
        name: bctklib
        path: ./out

    - name: Publish to Azure Artifacts
      run: dotnet nuget push ./out/*.nupkg --source https://www.myget.org/F/neo/api/v2/package --api-key ${{ secrets.MYGET_TOKEN }} --symbol-source https://www.myget.org/F/neo/symbols/api/v2/package --symbol-api-key ${{ secrets.MYGET_TOKEN }}
