name: On Push

on:
  push:
    branches:
      - master
      - development
      - release/*
    paths-ignore:
      - '.gitignore'
      - '.gitattributes'
      - 'LICENSE'
      - '**/*.md'

env:
  DOTNET_VERSION: '7.0.x'

jobs:
  test:
    uses: ./.github/workflows/test.yml
  pack:
    needs: [test]
    uses: ./.github/workflows/pack.yml
