name: Release

on:
  workflow_dispatch:

jobs:
  build:
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Nerdbank.GitVersioning
      uses: dotnet/nbgv@v0.4.0
      id: nbgv
    - name: Install dependencies
      run: dotnet restore

    - name: Pack NeoExpress
      run: dotnet pack src/neoxp --output ./out --configuration Release --no-restore --verbosity normal
    - name: Pack NeoTrace 
      run: dotnet pack src/trace --output ./out --configuration Release --no-restore --verbosity normal
    # temporarily pack worknet into ./out2 so that it doesn't get included in release 
    - name: Pack NeoWorkNet 
      run: dotnet pack src/worknet --output ./out2 --configuration Release --no-restore --verbosity normal

    - name: Upload NeoExpress artifact
      uses: actions/upload-artifact@v2
      with:
        name: neoxp
        path: ./out/Neo.Express.*.nupkg
    - name: Upload NeoTrace artifact
      uses: actions/upload-artifact@v2
      with:
        name: neotrace
        path: ./out/Neo.Trace.*.nupkg
    - name: Upload NeoWorkNet artifact
      uses: actions/upload-artifact@v2
      with:
        name: neoworknet
        path: ./out2/Neo.WorkNet.*.nupkg

    - name: Create Release
      uses: marvinpinto/action-automatic-releases@v1.1.1
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        prerelease: ${{ steps.nbgv.outputs.PrereleaseVersion != '' }}
        title: Release ${{ steps.nbgv.outputs.NuGetPackageVersion }}
        automatic_release_tag: ${{ steps.nbgv.outputs.NuGetPackageVersion }}
        files: |
          ./out/*
    - name: Push Neo.Express Nuget.org
      run: dotnet nuget push ${{ format('./out/Neo.Express.{0}.nupkg', steps.nbgv.outputs.NuGetPackageVersion) }} --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
    - name: Push Neo.Trace Nuget.org
      run: dotnet nuget push ${{ format('./out/Neo.Trace.{0}.nupkg', steps.nbgv.outputs.NuGetPackageVersion) }} --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
    # - name: Push Neo.WorkNet Nuget.org
    #   run: dotnet nuget push ${{ format('./out/Neo.WorkNet.{0}.nupkg', steps.nbgv.outputs.NuGetPackageVersion) }} --api-key ${{ secrets.NUGET_TOKEN }} --source https://api.nuget.org/v3/index.json
