name: Run Test

on:
  workflow_call:

env:
  CONFIGURATION: 'Release'
  DOTNET_VERSION: '7.0.x'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy: 
      matrix:
        os: [macos-11, macos-12, macos-13, ubuntu-20.04, ubuntu-22.04, windows-2019, windows-2022]
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Install RocksDB Dependencies
      if: ${{ runner.os == 'Linux'}}
      run: |
        sudo apt-get update
        sudo apt-get install libsnappy-dev libc6-dev librocksdb-dev -y
    - name: Build and Test
      run: |
        dotnet restore neo-express.sln
        dotnet build neo-express.sln --configuration ${{ env.CONFIGURATION }} --no-restore --verbosity normal --BinaryLogger:./msbuild.${{ matrix.os }}.binlog
        dotnet test neo-express.sln --configuration ${{ env.CONFIGURATION }} --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: Neo Express Blockchain Test (non-dotnet/Linux ONLY)
      run: |
        cd ./src/neoxp/bin/Release/net7.0
        if [ "$RUNNER_OS" == "Linux" ]; then
            ./neoxp create
            ./neoxp transfer 1 gas genesis node1
        else
            ./neoxp.exe create
            ./neoxp.exe transfer 1 gas genesis node1
        fi
      shell: bash
    - name: Upload Coverage
      uses: actions/upload-artifact@v3
      with:
        name: coverage
        path: ./test/test.bctklib/TestResults/*/coverage.cobertura.xml
    - name: Upload Build Log
      uses: actions/upload-artifact@v3
      with:
        name: buildlog
        path: ./msbuild.${{ matrix.os }}.binlog
  report:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Coverage Artifact
        uses: actions/download-artifact@v3
        with:
          name: coverage
          path: ./coverage
      - name: Code Coverage Report
        uses: irongut/CodeCoverageSummary@v1.3.0
        with:
          filename: ./coverage/**/coverage.cobertura.xml
