name: Release Extension
on:
  workflow_dispatch:

jobs:

  build-and-publish:
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Setup Nerdbank.GitVersioning
      uses: dotnet/nbgv@v0.4.1
      id: nbgv

    - name: Setup NodeJS
      uses: actions/setup-node@v2
      with:
        node-version: '16'

    - name: Build + Package extension
      run: |
        npm ci
        npx vsce package --no-git-tag-version ${{ steps.nbgv.outputs.NpmPackageVersion }}
      env:
        EXTENSION_VERSION: ${{ steps.nbgv.outputs.NpmPackageVersion }}

    - name: Create Release
      uses: marvinpinto/action-automatic-releases@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        prerelease: ${{ contains(steps.nbgv.outputs.NpmPackageVersion, '-preview') }}
        title: Release ${{ steps.nbgv.outputs.NpmPackageVersion }}
        automatic_release_tag: ${{ steps.nbgv.outputs.NpmPackageVersion }}
        files: |
          *.vsix

    - name: Publish debug extension to VSCode Marketplace
      run: |
        npx vsce publish -i ./$(ls *.vsix) -p ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}
